{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/css/uikit.min.css" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-icons.min.js"></script>
        <script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </head>
    <body>
        {% csrf_token %}
        <div class="uk-container uk-padding">
            <h1 class="uk-heading-divider">ГОЛОСОВАЛКА</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>